<div class="home-search-comp">

  <div class="home-search-head">
    <h3 class="home-search-title">Поиск рецептов</h3>
    <span class="home-search-descr">Введите примерное название блюда, а мы по тегам найдем его</span>
  </div>

  <div class="home-search-block">
    <div class="home-search-input-block">
      <input class="home-search-input" placeholder="Название Блюда...." />
      <button class="home-search-btn">Поиск</button>
    </div>
    <div class="recomends-list-block">
      <ul class="recomends-list">
        <li class="recomend-el">Мясо</li>
        <li class="recomend-el">Деликатесы</li>
        <li class="recomend-el">Пироги</li>
        <li class="recomend-el">Рыба</li>
      </ul>
    </div>
  </div>

</div>
