.page-head {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.page-title {
  font-size: 42px;
  line-height: 62px;
  color: #25292D;
  font-weight: bold;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
