<div class="user-recipes-block">
  <h3 class="user-recipes-title">Мои рецепты</h3>
  <div class="recipes-list">
    <span class="empty-list-text" *ngIf="recipes.length == 0">Ваш список пуст</span>

    <div *ngIf="recipes.length > 0">
      <app-recipe-card *ngFor="let recipeInfo of recipes" [recipeInfo]="recipeInfo"></app-recipe-card>

      <div (click)="loadMoreRecipes()" class="load-more-block">
        <span class="load-more-btn">Загрузить еще</span>
      </div>

    </div>

  </div>
</div>
