.home-search-comp {
  margin-top: 13%;
}

.home-search-head {
  text-align: center
}

.home-search-title {
  text-align: center;
  font-size: 42px;
  line-height: 51px;
  font-weight: bold;
}

.search-block {
  width: 80%;
  margin: 5% auto;
}

.home-search-descr {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  color: #4A525A;
  font-feature-settings: 'case' on;
}
