<div class="user-card-block">
  <div class="left-user-info">
    <input [(ngModel)]="userInfo.name" class="user-name user-info-input input-style" name="name" />
    <input [(ngModel)]="userInfo.login" class="user-login user-info-input input-style" name="login" />
    <div class="password-block">
      <input class="user-password user-info-input input-style" type="password" id="user_password_card" />
      <a href="#" class="change-visibility-icon" (click)="changeVisibility()"></a>
    </div>
  </div>
  <div class="right-user-info">
    <textarea [(ngModel)]="userInfo.description" class="user-description input-style" placeholder="Напишите немного о себе" name="description"></textarea>
  </div>
</div>
