<div class="modal-shadow" [hidden]="!isShowedRegistration">
  <div class="modal-window">
    <div class="closing-block">
      <img (click)="close()" class="close-modal-button" src="../../../../../assets/closeModalButton.png" />
    </div>
    <form class="modal-content-custom">
      <h3 class="modal-title">Регистрация</h3>
      <input [(ngModel)]="registrationInfo.name" class="big-modal-input input-style" placeholder="Имя"
             name="name" id="name" />
      <input [(ngModel)]="registrationInfo.login" class="big-modal-input input-style" placeholder="Логин"
             name="login" id="registrate_login" />

      <div class="little-inputs-block">
        <input [(ngModel)]="registrationInfo.password" class="big-modal-input input-style little-modal-input"
               type="password" placeholder="Пароль" name="password" id="registrate_password" />
        <input [(ngModel)]="registrationInfo.repeatPassword" class="big-modal-input input-style little-modal-input"
               type="password" placeholder="Повторите пароль" name="repeat_password" id="repeat_password" />
      </div>

      <span class="password-warning">Минимум 8 символов</span>

      <div class="modal-buttons-block">
        <button (click)="registration()" class="login-modal-button modal-button">Зарегистрироваться</button>
        <button (click)="close()" class="cancel-modal-button modal-button">Отмена</button>
      </div>
      <span class="modal-advice" (click)="switchToLogin()">У меня уже есть аккаунт</span>
    </form>
  </div>
</div>
