.modal-window {
  margin: 4% auto;
}

.little-inputs-block {
  display: flex;
  justify-content: space-between;
}

.little-modal-input {
  width: 48%;
  margin: 0;
}

.password-warning {
  display: block;
  margin-bottom: 4%;
}

.password-warning {
  font-size: 12px;
  line-height: 28px;
  color: rgba(37, 41, 45, 0.3);
}
