.recipe-card {
  display: flex;
  flex-direction: row;
  height: 430px;
  margin-top: 4%;
}

.recipe-img-block {
  width: 36%;
  z-index: 1;
}

.recipe-author {
  display: block;
  width: max-content;
  position: relative;
  bottom: 70px;
  background: #FFFFFF;
  color: #FDB100;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  height: 32px;
  padding: 0 6.4% 0 19px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 2;
}

.recipe-img {
  height: 100%;
  border-radius: 72px 0px;
}

.recipe-info {
  width: 100%;
  margin-left: -8%;
  border-radius: 24px;
  background: #FFFFFF;
}

.recipe-info-content {
  width: 79%;
  margin: 4% 0 0 17%;
}

.recipe-top {
  display: flex;
  justify-content: space-between;
}

.recipe-tag-bacgrd {
  background-color: rgba(253, 177, 0, 0.2);
  border-radius: 5px;
  margin: 10px 5px 0 0;
  text-align: center;
  float: left;
  width: max-content;
}

.recipe-tag {
  font-size: 14px;
  line-height: 30px;
  color: #F29E1F;
  padding: 0 10px;
}

.favourite-icon {
  height: 24px;
  margin-right: 17px;
}

.recipe-card-btns-block {
  display: flex;
  flex-direction: row;
}

.recipe-card-btn {
  background: #FFFFFF;
  border: 1px solid #FDB100;
  border-radius: 16px;
  margin-left: 5%;
  width: 107px;
  height: 50px;
  text-align: center;
}

.recipe-card-btn-font {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  height: 50px;
  vertical-align: middle;
  color: #FDB100;
}

.recipe-body {
  margin-top: 6%;
}

.recipe-title {
  font-size: 24px;
  line-height: 30px;
  color: #25292D;
  font-weight: bold;
}

.recipe-descr {
  font-size: 18px;
  line-height: 30px;
  color: #4A525A;
  height: 95px;
  width: 75%;
}

.recipe-metrics {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.recipe-metric-block {
  display: flex;
  flex-direction: row;
  margin-right: 17%;
  width: 45%;
}

.recipe-metric-img {
  height: 64px;
}

.persons-img {
  margin-right: 6%;
}

.recipe-metric-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-metric-title {
  font-size: 14px;
  line-height: 19px;
  color: #25292D;
  opacity: 0.5;
}

.recipe-metric-value {
  font-size: 18px;
  line-height: 28px;
  color: #25292D;
}
