/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
  min-width: 1024px !important;
  background-color: #FEFEFB;
}

.background-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}


app-tags-type {
  width: 278px;
}

.main-background {
  background: url('assets/background.png') repeat-y;
  background-size: cover;
}

.content-block {
  width: 1200px;
  margin: 0 auto;
}

.modal-title {
  font-size: 24px;
  line-height: 30px;
  color: #25292D;
  margin-bottom: 8%;
  font-weight: bold;
}

.closing-block {
  display: flex;
  justify-content: end;
  margin-top: 2%;
}

.close-modal-button {
  height: 24px;
}

  .close-modal-button:hover {
    cursor: pointer;
  }

.modal-content-custom {
  width: 580px;
  margin: 3% auto 7%;
}

.modal-shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
  z-index: 2;
}

.modal-window {
  background: #FFFFFF;
  border-radius: 24px;
  width: 700px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
}

.big-modal-input {
  margin-bottom: 4%;
  height: 50px;
  width: 100%;
  padding-left: 4%; 
  border-radius: 16px;
  border: 1px solid rgba(145, 150, 161, 0.4);
  font-size: 16px;
  line-height: 28px;
  color: rgba(37, 41, 45, 0.5);
}

  .big-modal-input:focus {
    color: #25292D;
    outline: none;
  }

.login-modal-button {
  border: none;
  background: #FDB100;
  color: #FFFFFF;
}

.cancel-modal-button {
  background: #FFFFFF;
  border: 1px solid #FDB100;
  box-sizing: border-box;
  color: #FDB100;
}

.modal-buttons-block {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  height: 60px;
  width: 48%;
  text-align: center;
  font-size: 18px;
  border-radius: 16px;
}

.modal-advice {
  font-size: 18px;
  line-height: 28px;
  color: #FDB100;
  border-bottom: 1px dashed #FDB100;
  display: block;
  margin: 3% auto;
  width: max-content;
}

  .modal-advice:hover {
    cursor: pointer;
  }

.yellow-btn {
  padding: 16px;
  display: block;
  border-radius: 16px;
  background: #FDB100;
  width: 278px;
  height: 60px;
  color: #FFFFFF;
  text-align: center;
}
