<div class="content-block">
  <app-user-info-header></app-user-info-header>
  <app-user-info-card [userInfo]="userInfo"
                      (changeUsernameEvent)="changeUsername()"
                      (changePasswordEvent)="changePassword()"
                      (changeNameEvent)="changeName()"
                      (changeUserDescriptionEvent)="changeDescription()"></app-user-info-card>
  <div class="user-statistic">
    <app-user-info-metric *ngFor="let metric of userStatistic" [userMetric]="metric" ></app-user-info-metric>
  </div>
  <app-user-info-recipes-list (loadMoreClick)="loadMoreRecipes()" [recipes]="userRecipes"></app-user-info-recipes-list>
</div>
