
header {
  position: relative;
  width: 1200px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  margin: 44px auto 0;
  z-index: 1;
}

ul {
  display: inline-flex;
}

.title {
  color: #FBB100;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

li {
  list-style-type: none;
  float: left;
  margin-left: 40px;
}

a {
  text-decoration: none;
}

.current-page {
  color: #3A3C41;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.nav-element {
  color: #9196A1;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal
}

.sign-in {
  color: #FBB100;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
}

.sign-in-btn {
  margin-left: 15px;
}

  .sign-in-btn:hover {
    cursor: pointer;
  }

.login-img {
  height: 38px;
}

.logined-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-line {
  border: 1px solid rgba(253, 177, 0, 0.72);
  transform: rotate(90deg);
  width: 19px;
  height: 0px;
  margin-left: 15px;
}

.log-out-btn {
  height: 24px;
  margin-left: 15px;
}

  .log-out-btn:hover {
    cursor: pointer;
  }
