<header>
  <div class="navigation">
    <span class="title">Recipes</span>
    <ul>
      <li *ngFor="let link of linksList"><a [class.nav-element]="!link.isActive" [class.current-page]="link.isActive" href="{{link.url}}">{{link.name}}</a></li>
    </ul>
  </div>

  <div class="sign-in">
    <img class="login-img" src="../../assets/loginIcon.png" />
    <span *ngIf="userName == ''" class="sign-in-btn" (click)="enterByUser()">Войти</span>
    <div *ngIf="userName != ''" class="logined-user">
      <span class="sign-in-btn user-name">Привет, {{userName}}</span>
      <hr class="vertical-line" />
      <img (click)="LogOut()" class="log-out-btn" src="../../../assets/exitAppIcon.png" />
    </div>
  </div>
</header>
