.tags-sort-block {
  margin-top: 32%
}

.tags-sort-title {
  font-size: 42px;
  line-height: 62px;
  font-weight: bold;
  color: #25292D;
}

.tags-info-descr {
  width: 55%;
  display: block;
  font-size: 18px;
  line-height: 32px;
  color: #4A525A;
}

.background-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}

