<div>
  <app-header (onUserLogOutClicked)="userLogOut()" (onUserEnterClicked)="showLoginModal()" [userName]="userName"></app-header>
  <div class="main-background">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <app-login-modal (onClose)="cleanLoginModalInputs()" (onSwitchToRegistration)="switchToRegistration()"
                   (onLoginClick)="login($event)"></app-login-modal>
  <app-registration-modal (onSwitchToLogin)="switchToLogin()"
                          (onRegistrationClick)="registration($event)"></app-registration-modal>
  <app-greeting-modal (onSwitchToLogin)="switchToLogin()" (onSwitchToRegistration)="switchToRegistration()"></app-greeting-modal>
</div>
