<div class="recipe-card">
  <div class="recipe-img-block">
    <img class="recipe-img" *ngIf="imgUrl" (click)="loadClick()" src="{{imgUrl}}" />
    <div *ngIf="!imgUrl" (click)="loadClick()" class="img-border">
      <div class="load-img-block">
        <img class="load-img-icon" src="../../../../assets/loadImgIcon.png" />
        <span class="img-load-text">Загрузите фото готового блюда</span>
      </div>
    </div>
    <input (input)="preloadImg($event)" type="file" ref="file" class="img-load" id="imgInput" />
  </div>

  <div class="recipe-info">
    <div class="recipe-info-content">

      <div class="recipe-body">
        <input [(ngModel)]="recipeData.title" class="input-style recipe-card-input regular-input-height" placeholder="Название рецепта" name="title" />
        <textarea [(ngModel)]="recipeData.description" class="input-style recipe-card-input description" maxlength="150" placeholder="Краткое описание рецепта (150 символов)" name="description"></textarea>
        <input [(ngModel)]="recipeData.tagsString" class="input-style recipe-card-input regular-input-height" placeholder="Добавить теги" name="tagsString" />
      </div>

      <div class="recipe-metrics">
        <div class="recipe-metric-block">
          <div class="recipe-metric-text-block">
            <select [(ngModel)]="recipeData.cookingTime" class="input-style metric-input" name="cookingTime">
              <option value="0" disabled>Время готовки</option>
              <option *ngFor="let time of timeVariants" value="{{time}}">{{time}}</option>
            </select>
            <span class="recipe-metric-title">Минут</span>
          </div>
        </div>

        <div class="recipe-metric-block">
          <div class="recipe-metric-text-block">
            <select [(ngModel)]="recipeData.personsCount" class=" input-style metric-input" name="personsCount">
              <option value="0" disabled>Порций в блюде</option>
              <option *ngFor="let person of personsVariants" value="{{person}}">{{person}}</option>
            </select>
            <span class="recipe-metric-title">Персон</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
