.empty-list-title {
  display: flex;
  justify-content: center;
  color: #FDB100;
  font-size: 24px;
  line-height: 30px;
  opacity: 0.5;
  margin-top: 5%;
  margin-bottom: calc(100% - 650px);
}

.load-more-block {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.load-more-btn {
  border: 1px solid #FDB100;
  border-radius: 16px;
  box-sizing: border-box;
  color: #FDB100;
  height: 60px;
  padding: 16px;
  width: 20%;
  text-align: center;
}

.load-more-btn:hover {
  cursor: pointer;
}
